@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: plum;
  color: white;
  margin: 0;
  padding: 0;

}
.bebidas, h5, .comidas  {
  font-family: 'Archivo', sans-serif;
  font-size: 2rem;
}


h2 {
  font-family: 'Russo One', sans-serif;
}

.container {
  background-color: rgb(82, 21, 138);
  padding-bottom: 60px;
}

.display {
  background-color: rgb(152, 41, 152);
  padding: 20px 60px;
  border-radius: 5px;
  font-size: 0.9rem;
  
}

input {
  background: rgb(82, 21, 138);
}